version: '3.1'

services:
  db:
    image: postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: db_password
    ports:
      - '5432:5432'
    networks:
      owndb-net:
        ipv4_address: 172.168.1.10

  server:
    image: owndb-server
    restart: unless-stopped
    environment:
      DB_HOST: '172.168.1.10'
      DB_USER: 'postgres'
      DB_NAME: 'postgres'
      DB_PORT: '5432'
      DB_PASSWORD: 'db_password'
    ports:
      - '3000:3000'
    depends_on:
      - db
    networks:
      owndb-net:
        ipv4_address: 172.168.1.20

networks:
  owndb-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.168.0.0/16
          gateway: 172.168.0.1